.vs
BulkyBookWeb/bin
BulkyBookWeb/obj
BulkyBook.DataAccess/bin
BulkyBook.DataAccess/obj
BulkyBook.Models/bin
BulkyBook.Models/obj
BulkyBook.Utility/bin
BulkyBook.Utility/obj
BulkyBook.StripePayment/bin
BulkyBook.StripePayment/obj
